### use nlp environment

In [116]:
!python -V

Python 3.10.13

In [117]:
import requests
from bs4 import BeautifulSoup
import spacy
import yfinance as yf
import pandas as pd

In [126]:
# rss_url = "https://www.ft.com/myft/following/b2120a11-fbdf-494e-992c-1948e0e71113.rss"
#rss_url = "https://www.economist.com/finance-and-economics/rss.xml"
rss_url = "https://www.economist.com/business/rss.xml"

In [127]:
nlp = spacy.load("en_core_web_sm")

In [128]:
response = requests.get(rss_url)

In [129]:
rss_feed = response.text

In [130]:
soup = BeautifulSoup(rss_feed, features="xml")

In [131]:
response = requests.get(rss_url)

if response.status_code == 200:
    rss_feed = response.text
    soup = BeautifulSoup(rss_feed, features="xml")
    entries = soup.find_all('title')
    if len(entries) > 0:
        title = entries[0]
        if title is not None:
            print(title.text)
        else:
            print("No title found in the first entry")
    else:
        print("No entry found in the RSS feed")
else:
    print("Failed to get RSS feed. Status code:", response.status_code)

Business

In [132]:
title = entries[2].text
print(title)

What next for US Steel?

In [133]:
# split title into parts of speech tokens
processed_title = nlp(entries[1].text)
for token in processed_title:
    print(token)

Foxconn
and
other
gadget
-
makers
are
expanding
their
empires

In [134]:
# tag into 'parts of speech tokens'
processed_title = nlp(entries[1].text)
for token in processed_title:
    print(token.text, "---", token.pos_)

Foxconn --- PROPN
and --- CCONJ
other --- ADJ
gadget --- NOUN
- --- PUNCT
makers --- NOUN
are --- AUX
expanding --- VERB
their --- PRON
empires --- NOUN

In [135]:
# tag into dependency graph
processed_title = nlp(entries[1].text)
for token in processed_title:
    print(token.text, "---", token.dep_)

Foxconn --- nsubj
and --- cc
other --- amod
gadget --- compound
- --- punct
makers --- conj
are --- aux
expanding --- ROOT
their --- poss
empires --- dobj

In [136]:
spacy.displacy.render(processed_title, style='dep',
jupyter=True, options={'distance': 120})

In [137]:
### entity extraction
spacy.displacy.render(processed_title,style='ent', jupyter=True,options={'distance': 120})

In [138]:
## Extract company names
#ent.py
companies = []
for title in entries:
    doc = nlp(title.text)
    for token in doc.ents:
        if token.label_ == 'ORG':
            companies.append(token.text)
        else:
            pass
companies

['US Steel',
 'Honda',
 'Nissan',
 'Tesla',
 'Intel',
 'AI',
 'Apple',
 'Volkswagen',
 'Europeâ\x80\x99s EV',
 'TikTok',
 'AI',
 'ChatGPTâ\x80\x99s',
 'America Inc',
 'TSMC',
 'Nike',
 'Tesla',
 'AI',
 'Apple',
 'Android',
 'AI',
 'Nvidia',
 'Microsoft',
 'AI',
 'Huawei',
 'BHP',
 'Polandâ\x80\x99s',
 'AI',
 'Fordâ\x80\x99s',
 'Nike',
 'Intel',
 'YouTubers',
 'Boeing',
 'FIFA',
 'Electronic Arts',
 'PwC',
 'Intel',
 'AI',
 'Starbucksâ\x80\x99s',
 'Volkswagen',
 'Renault',
 'Meta',
 '7-Eleven',
 'Apple',
 'Starbucks',
 'Google',
 'AI',
 'Intel',
 'LVMH',
 'Airbus',
 'Teslaâ\x80\x99s',
 'Westâ\x80\x99s',
 'Google',
 'CEOâ\x80\x99s',
 'EV',
 'Boeing',
 'Amazon',
 'AI',
 'Nvidia',
 'EU',
 'AI',
 'AI',
 'Whole Foods',
 'Tesla',
 'G42',
 'ExxonMobil',
 'Economistâ\x80\x99s',
 'Walmartâ\x80\x99s',
 'Africa Inc',
 'Starbucks',
 'App',
 'Gen-Z',
 'TikTok',
 'AI',
 'Perplexityâ\x80\x99s',
 'BHP',
 'Eli Lilly',
 'Novo Nordisk',
 'CEOâ\x80\x99s',
 'Boeing',
 'Congress',
 'TikTok',
 'LVMH',
 'TSMCâ\x80\x99s',
 'EV',
 'Disney',
 'GE',
 'Nike',
 'AI',
 'Boeing',
 'Boeing',
 'Apple',
 'TikTok']

In [139]:
companies =['Bank of India']

In [82]:
stocks_df = pd.read_csv("../data/ind_nifty500list.csv")

# yfinance

In [83]:
import yfinance as yf

In [19]:
dir(yf)

['EquityQuery',
 'Industry',
 'Screener',
 'Search',
 'Sector',
 'Ticker',
 'Tickers',
 '__all__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'base',
 'cache',
 'const',
 'data',
 'domain',
 'download',
 'enable_debug_mode',
 'exceptions',
 'multi',
 'scrapers',
 'screener',
 'search',
 'set_tz_cache_location',
 'shared',
 'ticker',
 'tickers',
 'utils',
 'version',
 'warnings']

In [20]:
# create a ticker object
obj = yf.Ticker('goog')
obj

yfinance.Ticker object <GOOG>

In [21]:
dir(obj)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_analysis',
 '_data',
 '_download_options',
 '_earnings',
 '_earnings_dates',
 '_expirations',
 '_fast_info',
 '_fetch_ticker_tz',
 '_financials',
 '_fundamentals',
 '_funds_data',
 '_get_ticker_tz',
 '_holders',
 '_isin',
 '_lazy_load_price_history',
 '_news',
 '_options2df',
 '_price_history',
 '_quote',
 '_shares',
 '_tz',
 '_underlying',
 'actions',
 'analyst_price_targets',
 'balance_sheet',
 'balancesheet',
 'basic_info',
 'calendar',
 'capital_gains',
 'cash_flow',
 'cashflow',
 'dividends',
 'earnings',
 'earnings_dates',
 'earnings_estimate',
 'earnings_history',
 'eps_revisions',
 'eps_trend',
 'fast_info',
 'financials',
 'funds_data',
 'get_actions',
 'get_analyst_price_targets',
 'get_balance_sheet',
 'get_balancesheet',
 'get_calendar',
 'get_capital_gains',
 'get_cash_flow',
 'get_cashflow',
 'get_dividends',
 'get_earnings',
 'get_earnings_dates',
 'get_earnings_estimate',
 'get_earnings_history',
 'get_eps_revisions',
 'get_eps_trend',
 'get_fast_info',
 'get_financials',
 'get_funds_data',
 'get_growth_estimates',
 'get_history_metadata',
 'get_income_stmt',
 'get_incomestmt',
 'get_info',
 'get_insider_purchases',
 'get_insider_roster_holders',
 'get_insider_transactions',
 'get_institutional_holders',
 'get_isin',
 'get_major_holders',
 'get_mutualfund_holders',
 'get_news',
 'get_recommendations',
 'get_recommendations_summary',
 'get_revenue_estimate',
 'get_sec_filings',
 'get_shares',
 'get_shares_full',
 'get_splits',
 'get_sustainability',
 'get_upgrades_downgrades',
 'growth_estimates',
 'history',
 'history_metadata',
 'income_stmt',
 'incomestmt',
 'info',
 'insider_purchases',
 'insider_roster_holders',
 'insider_transactions',
 'institutional_holders',
 'isin',
 'major_holders',
 'mutualfund_holders',
 'news',
 'option_chain',
 'options',
 'proxy',
 'quarterly_balance_sheet',
 'quarterly_balancesheet',
 'quarterly_cash_flow',
 'quarterly_cashflow',
 'quarterly_earnings',
 'quarterly_financials',
 'quarterly_income_stmt',
 'quarterly_incomestmt',
 'recommendations',
 'recommendations_summary',
 'revenue_estimate',
 'sec_filings',
 'session',
 'shares',
 'splits',
 'sustainability',
 'ticker',
 'upgrades_downgrades']

In [22]:
goog = yf.Ticker('goog')
data = goog.history()
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-12-11 00:00:00-05:00,186.699997,196.889999,186.259995,196.710007,41664500,0.0,0.0
2024-12-12 00:00:00-05:00,196.300003,196.705002,193.279999,193.630005,25197800,0.0,0.0
2024-12-13 00:00:00-05:00,192.710007,194.339996,191.259995,191.380005,18883200,0.0,0.0
2024-12-16 00:00:00-05:00,194.365005,200.639999,194.110001,198.160004,32248600,0.0,0.0
2024-12-17 00:00:00-05:00,198.529999,202.880005,196.690002,197.119995,24129500,0.0,0.0

In [23]:
data = goog.history(interval='1m', start='2022-01-03', end='2022-01-10')
data.head()

$GOOG: possibly delisted; no price data found  (1m 2022-01-03 -> 2022-01-10) (Yahoo error = "1m data not available for startTime=1641186000 and endTime=1641790800. The requested range must be within the last 30 days.")

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [24]:
data = yf.download(['GOOG','META'], period='1mo')
data.head()

[*********************100%***********************]  2 of 2 completed

Price            Close                    High                     Low  \
Ticker            GOOG        META        GOOG        META        GOOG
Date
2024-12-11  196.710007  632.170044  196.889999  637.885465  186.259995
2024-12-12  193.630005  630.281555  196.705002  636.146819  193.279999
2024-12-13  191.380005  619.849976  194.339996  630.571369  191.259995
2024-12-16  198.160004  624.239990  200.639999  631.150024  194.110001
2024-12-17  197.119995  619.440002  202.880005  632.369995  196.690002

Price                         Open                Volume
Ticker            META        GOOG        META      GOOG      META
Date
2024-12-11  621.029068  186.699997  622.867550  41664500  10837200
2024-12-12  626.704485  196.300003  630.991005  25197800   7474700
2024-12-13  616.392803  192.710007  626.714434  18883200   8453300
2024-12-16  618.580017  194.365005  629.979980  32248600  10885600
2024-12-17  616.539978  198.529999  626.169983  24129500  12897800

In [25]:
dhr = yf.Ticker('DHR')
info = dhr.info
info.keys()

dict_keys(['address1', 'address2', 'city', 'state', 'zip', 'country', 'phone', 'fax', 'website', 'industry', 'industryKey', 'industryDisp', 'sector', 'sectorKey', 'sectorDisp', 'longBusinessSummary', 'fullTimeEmployees', 'companyOfficers', 'auditRisk', 'boardRisk', 'compensationRisk', 'shareHolderRightsRisk', 'overallRisk', 'governanceEpochDate', 'compensationAsOfEpochDate', 'irWebsite', 'maxAge', 'priceHint', 'previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen', 'regularMarketDayLow', 'regularMarketDayHigh', 'dividendRate', 'dividendYield', 'exDividendDate', 'payoutRatio', 'fiveYearAvgDividendYield', 'beta', 'trailingPE', 'forwardPE', 'volume', 'regularMarketVolume', 'averageVolume', 'averageVolume10days', 'averageDailyVolume10Day', 'bid', 'ask', 'bidSize', 'askSize', 'marketCap', 'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'priceToSalesTrailing12Months', 'fiftyDayAverage', 'twoHundredDayAverage', 'trailingAnnualDividendRate', 'trailingAnnualDividendYield', 'currency', 'enterpriseValue', 'profitMargins', 'floatShares', 'sharesOutstanding', 'sharesShort', 'sharesShortPriorMonth', 'sharesShortPreviousMonthDate', 'dateShortInterest', 'sharesPercentSharesOut', 'heldPercentInsiders', 'heldPercentInstitutions', 'shortRatio', 'shortPercentOfFloat', 'impliedSharesOutstanding', 'bookValue', 'priceToBook', 'lastFiscalYearEnd', 'nextFiscalYearEnd', 'mostRecentQuarter', 'earningsQuarterlyGrowth', 'netIncomeToCommon', 'trailingEps', 'forwardEps', 'lastSplitFactor', 'lastSplitDate', 'enterpriseToRevenue', 'enterpriseToEbitda', '52WeekChange', 'SandP52WeekChange', 'lastDividendValue', 'lastDividendDate', 'exchange', 'quoteType', 'symbol', 'underlyingSymbol', 'shortName', 'longName', 'firstTradeDateEpochUtc', 'timeZoneFullName', 'timeZoneShortName', 'uuid', 'messageBoardId', 'gmtOffSetMilliseconds', 'currentPrice', 'targetHighPrice', 'targetLowPrice', 'targetMeanPrice', 'targetMedianPrice', 'recommendationMean', 'recommendationKey', 'numberOfAnalystOpinions', 'totalCash', 'totalCashPerShare', 'ebitda', 'totalDebt', 'quickRatio', 'currentRatio', 'totalRevenue', 'debtToEquity', 'revenuePerShare', 'returnOnAssets', 'returnOnEquity', 'freeCashflow', 'operatingCashflow', 'earningsGrowth', 'revenueGrowth', 'grossMargins', 'ebitdaMargins', 'operatingMargins', 'financialCurrency', 'trailingPegRatio'])

In [26]:
%env

{'ALLUSERSPROFILE': 'C:\\ProgramData',
 'APPDATA': 'C:\\Users\\marke\\AppData\\Roaming',
 'CHOCOLATEYINSTALL': 'C:\\ProgramData\\chocolatey',
 'CHOCOLATEYLASTPATHUPDATE': '133356252784264593',
 'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files',
 'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files',
 'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files',
 'COMPUTERNAME': 'LAPTOP-SESHDH7F',
 'COMSPEC': 'C:\\WINDOWS\\system32\\cmd.exe',
 'CONDA_DEFAULT_ENV': 'tf_env',
 'CONDA_EXE': 'C:\\Users\\marke\\anaconda3\\Scripts\\conda.exe',
 'CONDA_PROMPT_MODIFIER': '(tf_env) ',
 'CONDA_PYTHON_EXE': 'C:\\Users\\marke\\anaconda3\\python.exe',
 'CONDA_SHLVL': '1',
 'CUDA_PATH': 'C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.1',
 'CUDA_PATH_V11_8': 'C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v11.8',
 'CUDA_PATH_V12_1': 'C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.1',
 'CUDA_PATH_V12_2': 'C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.2',
 'CUDA_PATH_V12_3': 'C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.3',
 'DRIVERDATA': 'C:\\Windows\\System32\\Drivers\\DriverData',
 'EFC_12164': '1',
 'HOMEDRIVE': 'C:',
 'HOMEPATH': '\\Users\\marke',
 'LOCALAPPDATA': 'C:\\Users\\marke\\AppData\\Local',
 'LOGONSERVER': '\\\\LAPTOP-SESHDH7F',
 'NUMBER_OF_PROCESSORS': '12',
 'NVTOOLSEXT_PATH': 'C:\\Program Files\\NVIDIA Corporation\\NvToolsExt\\',
 'ONEDRIVE': 'C:\\Users\\marke\\OneDrive',
 'ONEDRIVECONSUMER': 'C:\\Users\\marke\\OneDrive',
 'OS': 'Windows_NT',
 'PATH': 'C:\\Users\\marke\\anaconda3\\envs\\tf_env;C:\\Users\\marke\\anaconda3\\envs\\tf_env\\Library\\mingw-w64\\bin;C:\\Users\\marke\\anaconda3\\envs\\tf_env\\Library\\usr\\bin;C:\\Users\\marke\\anaconda3\\envs\\tf_env\\Library\\bin;C:\\Users\\marke\\anaconda3\\envs\\tf_env\\Scripts;C:\\Users\\marke\\anaconda3\\envs\\tf_env\\bin;C:\\Users\\marke\\anaconda3\\condabin;C:\\Users\\marke\\anaconda3;C:\\Users\\marke\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\marke\\anaconda3\\Library\\usr\\bin;C:\\Users\\marke\\anaconda3\\Library\\bin;C:\\Users\\marke\\anaconda3\\Scripts;C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.1\\bin;C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.1\\libnvvp;C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v11.8\\bin;C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v11.8\\libnvvp;C:\\Python312\\Scripts;C:\\Python312;C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.3\\bin;C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.3\\libnvvp;C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.2\\bin;C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v12.2\\libnvvp;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0;C:\\Windows\\System32\\OpenSSH;C:\\Program Files (x86)\\NVIDIA Corporation\\PhysX\\Common;C:\\Program Files\\Git\\cmd;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0;C:\\WINDOWS\\System32\\OpenSSH;C:\\Program Files\\Docker\\Docker\\resources\\bin;C:\\ProgramData\\chocolatey\\bin;C:\\Program Files (x86)\\Google\\Cloud SDK\\google-cloud-sdk\\bin;C:\\Program Files\\Microsoft SQL Server\\150\\Tools\\Binn;C:\\Program Files (x86)\\Windows Kits\\10\\Windows Performance Toolkit;C:\\Program Files\\NVIDIA Corporation\\NVIDIA app\\NvDLISR;C:\\Program Files\\NVIDIA Corporation\\Nsight Compute 2023.1.0;C:\\Program Files\\NVIDIA Corporation\\NVIDIA NvDLISR;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0;C:\\Windows\\System32\\OpenSSH;C:\\Program Files (x86)\\NVIDIA Corporation\\PhysX\\Common;C:\\Program Files\\NVIDIA Corporation\\NVIDIA NvDLISR;C:\\Program Files\\Git\\cmd;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0;C:\\WINDOWS\\System32\\OpenSSH;C:\\Program Files\\Docker\\Docker\\resources\\bin;C:\\Users\\marke\\.pyenv\\pyenv-win\\bin;C:\\Users\\marke\\.pyenv\\pyenv-win\\shims;C:\\Users\\marke\\anaconda3;C:\\Users\\marke\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\marke\\anaconda3\\Library\\usr\\bin;C:\\Users\\marke\\anaconda3\\Library\\bin;C:\\Users\\marke\\anaconda3\\Scripts;C:\\Users\\marke\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\marke\\AppData\\Local\\Programs\\Microsoft VS Code\\bin;C:\\Users\\marke\\AppData\\Roaming\\Python\\Scripts;C:\\Program Files\\Microsoft Visual Studio\\2022\\Community\\VC\\Tools\\MSVC\\14.37.32822\\bin\\Hostx64\\x64;C:\\Users\\marke\\anaconda3\\envs\\py38\\Scripts;C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v11.8\\bin;C:\\Program Files\\NVIDIA GPU Computing Toolkit\\CUDA\\v11.8\\libnvvp;.',
 'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC;.PY;.PYW',
 'PROCESSOR_ARCHITECTURE': 'AMD64',
 'PROCESSOR_IDENTIFIER': 'Intel64 Family 6 Model 141 Stepping 1, GenuineIntel',
 'PROCESSOR_LEVEL': '6',
 'PROCESSOR_REVISION': '8d01',
 'PROGRAMDATA': 'C:\\ProgramData',
 'PROGRAMFILES': 'C:\\Program Files',
 'PROGRAMFILES(X86)': 'C:\\Program Files (x86)',
 'PROGRAMW6432': 'C:\\Program Files',
 'PROMPT': '(tf_env) $P$G',
 'PSMODULEPATH': 'C:\\Program Files\\WindowsPowerShell\\Modules;C:\\WINDOWS\\system32\\WindowsPowerShell\\v1.0\\Modules;C:\\Program Files (x86)\\Google\\Cloud SDK\\google-cloud-sdk\\platform\\PowerShell',
 'PUBLIC': 'C:\\Users\\Public',
 'PYENV': 'C:\\Users\\marke\\.pyenv\\pyenv-win\\',
 'PYENV_HOME': 'C:\\Users\\marke\\.pyenv\\pyenv-win\\',
 'PYENV_ROOT': 'C:\\Users\\marke\\.pyenv\\pyenv-win\\',
 'SESSIONNAME': 'Console',
 'SSL_CERT_FILE': 'C:\\Users\\marke\\anaconda3\\envs\\tf_env\\Library\\ssl\\cacert.pem',
 'SYSTEMDRIVE': 'C:',
 'SYSTEMROOT': 'C:\\WINDOWS',
 'TEMP': 'C:\\Users\\marke\\AppData\\Local\\Temp',
 'TMP': 'C:\\Users\\marke\\AppData\\Local\\Temp',
 'USERDOMAIN': 'LAPTOP-SESHDH7F',
 'USERDOMAIN_ROAMINGPROFILE': 'LAPTOP-SESHDH7F',
 'USERNAME': 'marke',
 'USERPROFILE': 'C:\\Users\\marke',
 'WINDIR': 'C:\\WINDOWS',
 'ZES_ENABLE_SYSMAN': '1',
 '__CONDA_OPENSLL_CERT_FILE_SET': '"1"',
 '__PSLOCKDOWNPOLICY': '0',
 'CONDA_PREFIX': 'C:\\Users\\marke\\anaconda3\\envs\\tf_env',
 'CONDA_ROOT': 'C:\\Users\\marke\\anaconda3',
 'PYDEVD_USE_FRAME_EVAL': 'NO',
 'JPY_SESSION_NAME': 'C:\\Users\\marke\\projects\\financial-newsfeed\\notebooks\\financial-application.ipynb',
 'JPY_INTERRUPT_EVENT': '5340',
 'IPY_INTERRUPT_EVENT': '5340',
 'JPY_PARENT_PID': '5700',
 'TERM': 'xterm-color',
 'CLICOLOR': '1',
 'FORCE_COLOR': '1',
 'CLICOLOR_FORCE': '1',
 'PAGER': 'cat',
 'GIT_PAGER': 'cat',
 'MPLBACKEND': 'module://matplotlib_inline.backend_inline',
 'TF2_BEHAVIOR': '1'}

In [27]:
import yfinance as yf

## collect various market attributes of a stock
stock_dict = {
    'Org': [],
    'Symbol': [],
    'currentPrice': [],
    'dayHigh': [],
    'dayLow': [],
    'forwardPE': [],
    'dividendYield': []
}

## for each company look it up and gather all market data on it
for company in companies:
    try:
        if stocks_df['Company Name'].str.contains(company).sum():
            symbol = stocks_df[stocks_df['Company Name'].\
                                str.contains(company)]['Symbol'].values[0]
            org_name = stocks_df[stocks_df['Company Name'].\
                                str.contains(company)]['Company Name'].values[0]
            stock_dict['Org'].append(org_name)
            stock_dict['Symbol'].append(symbol)
            stock_info = yf.Ticker(symbol+".NS").info
            stock_dict['currentPrice'].append(stock_info['currentPrice'])
            stock_dict['dayHigh'].append(stock_info['dayHigh'])
            stock_dict['dayLow'].append(stock_info['dayLow'])
            stock_dict['forwardPE'].append(stock_info['forwardPE'])
            stock_dict['dividendYield'].append(stock_info['dividendYield'])
        else:
            pass
    except:
        pass

## create a dataframe to display the buzzing stocks
pd.DataFrame(stock_dict)

,Org,Symbol,currentPrice,dayHigh,dayLow,forwardPE,dividendYield
0,Bank of India,BANKINDIA,94.27,98.7,94.0,5.186846,0.0297

In [28]:
symbol

'BANKINDIA'

In [29]:
org_name

'Bank of India'

In [30]:
yf.Ticker(symbol+".NS").info

{'address1': 'Star House - I',
 'address2': '8th Floor, East Wing C-5, G Block Bandra Kurla Complex, Bandra (East)',
 'city': 'Mumbai',
 'zip': '400051',
 'country': 'India',
 'phone': '91 22 6668 4490',
 'fax': '91 22 6668 4491',
 'website': 'https://bankofindia.co.in',
 'industry': 'Banks - Regional',
 'industryKey': 'banks-regional',
 'industryDisp': 'Banks - Regional',
 'sector': 'Financial Services',
 'sectorKey': 'financial-services',
 'sectorDisp': 'Financial Services',
 'longBusinessSummary': 'Bank of India Limited provides various banking products and services in India and internationally. It operates through Treasury, Wholesale Banking, and Retail Banking segments. The company accepts various deposit products, such as savings, salary, current, term, and rera account deposits. It also provides debit, credit, and prepaid cards; loan products, including personal, home, vehicle, education, loan against property, star reverse mortgage, and approved home projects loans; and financing services comprising finance to new and existing business, healthcare scheme, govt. sponsored scheme, and commercial vehicle finance services. In addition, the company offers credit, cash management, and trade finance services; government deposit schemes products, including PPF, SCSS, Sukanya Samridhi, pension, and departmentalized ministries accounts; NPS, sovereign gold RBI bonds; MSSC and other products; mutual funds; and insurance services, such as life, health, and general insurance products. Further, it provides NRI services, including loans, money remittance and ancillary services, as well as agri products such as Kisan credit card, gold loan, self help group, Atmanirbhar schemes, tractor/farm mechanization, food and agro loans, agri allied activities, Kisan Ghar and agri mortgage loan, agri clinic/agri business centers, and other loans services. Additionally, the company offers internet banking, online, payment services. Bank of India Limited was incorporated in 1906 and is headquartered in Mumbai, India. Bank of India Limited is a part of India.',
 'fullTimeEmployees': 50944,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Rajneesh  Karnatak',
   'age': 53,
   'title': 'MD, CEO & Director',
   'yearBorn': 1971,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. B.  Kumar',
   'title': 'GM &  CFO',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Satyendra  Singh',
   'title': 'Chief Technology Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Abhijit  Bose',
   'title': 'Chief GM & Chief Compliance Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Prashant  Thapliyal',
   'title': 'Chief GM, Functional Head-Asset Recovery, Cr Monitoring, Stress Asset Resolution & Legal Department',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. P. R. Rajagopal',
   'age': 57,
   'title': 'Executive Director',
   'yearBorn': 1967,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ashok Kumar Pathak',
   'title': 'Chief General Manager',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sudhiranjan  Padhi',
   'age': 57,
   'title': 'Chief General Manager',
   'yearBorn': 1967,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Pinapala Hari Kishan',
   'title': 'Chief General Manager & Chief Risk Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Prafulla Kumar Giri',
   'title': 'Chief General Manager',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 98.68,
 'open': 98.31,
 'dayLow': 94.0,
 'dayHigh': 98.7,
 'regularMarketPreviousClose': 98.68,
 'regularMarketOpen': 98.31,
 'regularMarketDayLow': 94.0,
 'regularMarketDayHigh': 98.7,
 'dividendRate': 2.8,
 'dividendYield': 0.0297,
 'exDividendDate': 1718668800,
 'payoutRatio': 0.1601,
 'fiveYearAvgDividendYield': 2.71,
 'beta': 1.287,
 'trailingPE': 5.389937,
 'forwardPE': 5.1868463,
 'volume': 10119099,
 'regularMarketVolume': 10119099,
 'averageVolume': 7241694,
 'averageVolume10days': 8427618,
 'averageDailyVolume10Day': 8427618,
 'marketCap': 429316898816,
 'fiftyTwoWeekLow': 94.0,
 'fiftyTwoWeekHigh': 157.95,
 'priceToSalesTrailing12Months': 1.6437076,
 'fiftyDayAverage': 107.3772,
 'twoHundredDayAverage': 118.0775,
 'trailingAnnualDividendRate': 2.8,
 'trailingAnnualDividendYield': 0.028374543,
 'currency': 'INR',
 'enterpriseValue': 801388888064,
 'profitMargins': 0.29917,
 'floatShares': 1155028151,
 'sharesOutstanding': 4552670208,
 'heldPercentInsiders': 0.73383003,
 'heldPercentInstitutions': 0.15293,
 'impliedSharesOutstanding': 4554120192,
 'bookValue': 162.225,
 'priceToBook': 0.5811064,
 'lastFiscalYearEnd': 1711843200,
 'nextFiscalYearEnd': 1743379200,
 'mostRecentQuarter': 1727654400,
 'earningsQuarterlyGrowth': 0.616,
 'netIncomeToCommon': 78139523072,
 'trailingEps': 17.49,
 'forwardEps': 10.24,
 'enterpriseToRevenue': 3.068,
 '52WeekChange': -0.27983195,
 'SandP52WeekChange': 0.24176979,
 'lastDividendValue': 2.8,
 'lastDividendDate': 1718668800,
 'exchange': 'NSI',
 'quoteType': 'EQUITY',
 'symbol': 'BANKINDIA.NS',
 'underlyingSymbol': 'BANKINDIA.NS',
 'shortName': 'BANK OF INDIA',
 'longName': 'Bank of India Limited',
 'firstTradeDateEpochUtc': 1025495100,
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'uuid': '2594371f-bb24-3405-a002-c60567cd198f',
 'messageBoardId': 'finmb_882820',
 'gmtOffSetMilliseconds': 19800000,
 'currentPrice': 94.27,
 'targetHighPrice': 145.0,
 'targetLowPrice': 110.0,
 'targetMeanPrice': 125.0,
 'targetMedianPrice': 121.0,
 'recommendationMean': 2.6,
 'recommendationKey': 'hold',
 'numberOfAnalystOpinions': 5,
 'totalCash': 817896030208,
 'totalCashPerShare': 179.706,
 'totalDebt': 1188519608320,
 'totalRevenue': 261188108288,
 'revenuePerShare': 58.492,
 'returnOnAssets': 0.00839,
 'returnOnEquity': 0.11444,
 'operatingCashflow': -767590072320,
 'earningsGrowth': 0.458,
 'revenueGrowth': 0.127,
 'operatingMargins': 0.41664,
 'financialCurrency': 'INR',
 'trailingPegRatio': None}

In [31]:
msft = yf.Ticker("MSFT")
print(msft.info)

{'address1': 'One Microsoft Way', 'city': 'Redmond', 'state': 'WA', 'zip': '98052-6399', 'country': 'United States', 'phone': '425 882 8080', 'website': 'https://www.microsoft.com', 'industry': 'Software - Infrastructure', 'industryKey': 'software-infrastructure', 'industryDisp': 'Software - Infrastructure', 'sector': 'Technology', 'sectorKey': 'technology', 'sectorDisp': 'Technology', 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.', 'fullTimeEmployees': 228000, 'companyOfficers': [{'maxAge': 1, 'name': 'Mr. Satya  Nadella', 'age': 57, 'title': 'Chairman & CEO', 'yearBorn': 1967, 'fiscalYear': 2024, 'totalPay': 7869791, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Bradford L. Smith LCA', 'age': 65, 'title': 'President & Vice Chairman', 'yearBorn': 1959, 'fiscalYear': 2024, 'totalPay': 4755618, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Amy E. Hood', 'age': 52, 'title': 'Executive VP & CFO', 'yearBorn': 1972, 'fiscalYear': 2024, 'totalPay': 4704250, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Judson B. Althoff', 'age': 51, 'title': 'Executive VP & Chief Commercial Officer', 'yearBorn': 1973, 'fiscalYear': 2024, 'totalPay': 4534974, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Christopher David Young', 'age': 52, 'title': 'Executive Vice President of Business Development, Strategy & Ventures', 'yearBorn': 1972, 'fiscalYear': 2024, 'totalPay': 2993772, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Carolina  Dybeck Happe', 'age': 52, 'title': 'Executive VP & COO', 'yearBorn': 1972, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Alice L. Jolla', 'age': 58, 'title': 'Corporate VP & Chief Accounting Officer', 'yearBorn': 1966, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. James Kevin Scott', 'age': 52, 'title': 'Executive VP of AI & CTO', 'yearBorn': 1972, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Brett  Iversen', 'title': 'Vice President of Investor Relations', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Hossein  Nowbar', 'title': 'Chief Legal Officer', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}], 'auditRisk': 9, 'boardRisk': 5, 'compensationRisk': 3, 'shareHolderRightsRisk': 2, 'overallRisk': 3, 'governanceEpochDate': 1735689600, 'compensationAsOfEpochDate': 1735603200, 'irWebsite': 'http://www.microsoft.com/investor/default.aspx', 'maxAge': 86400, 'priceHint': 2, 'previousClose': 424.56, 'open': 424.61, 'dayLow': 415.02, 'dayHigh': 424.695, 'regularMarketPreviousClose': 424.56, 'regularMarketOpen': 424.61, 'regularMarketDayLow': 415.02, 'regularMarketDayHigh': 424.695, 'dividendRate': 3.32, 'dividendYield': 0.007900001, 'exDividendDate': 1740009600, 'payoutRatio': 0.2477, 'fiveYearAvgDividendYield': 0.86, 'beta': 0.904, 'trailingPE': 34.59538, 'forwardPE': 27.908827, 'volume': 19826981, 'regularMarketVolume': 19826981, 'averageVolume': 20977463, 'averageVolume10days': 14720830, 'averageDailyVolume10Day': 14720830, 'bid': 394.87, 'ask': 437.57, 'bidSize': 100, 'askSize': 100, 'marketCap': 3114842980352, 'fiftyTwoWeekLow': 384.81, 'fiftyTwoWeekHigh': 468.35, 'priceToSalesTrailing12Months': 12.253995, 'fiftyDayAverage': 428.4084, 'twoHundredDayAverage': 425.13974, 'trailingAnnualDividendRate': 3.08, 'trailingAnnualDividendYield': 0.0072545693, 'currency': 'USD', 'enterpriseValue': 3133252304896, 'profitMargins': 0.35608003, 'floatShares': 7424694989, 'sharesOutstanding': 7434880000, 'sharesShort': 60224820, 'sharesShortPriorMonth': 56018482, 'sharesShortPreviousMonthDate': 1731628800, 'dateShortInterest': 1734048000, 'sharesPercentSharesOut': 0.0081, 'heldPercentInsiders': 0.00056, 'heldPercentInstitutions': 0.73557, 'shortRatio': 2.78, 'shortPercentOfFloat': 0.0081, 'impliedSharesOutstanding': 7534439936, 'bookValue': 38.693, 'priceToBook': 10.82754, 'lastFiscalYearEnd': 1719705600, 'nextFiscalYearEnd': 1751241600, 'mostRecentQuarter': 1727654400, 'earningsQuarterlyGrowth': 0.107, 'netIncomeToCommon': 90511998976, 'trailingEps': 12.11, 'forwardEps': 14.95, 'lastSplitFactor': '2:1', 'lastSplitDate': 1045526400, 'enterpriseToRevenue': 12.326, 'enterpriseToEbitda': 22.945, '52WeekChange': 0.08786225, 'SandP52WeekChange': 0.24176979, 'lastDividendValue': 0.83, 'lastDividendDate': 1732147200, 'exchange': 'NMS', 'quoteType': 'EQUITY', 'symbol': 'MSFT', 'underlyingSymbol': 'MSFT', 'shortName': 'Microsoft Corporation', 'longName': 'Microsoft Corporation', 'firstTradeDateEpochUtc': 511108200, 'timeZoneFullName': 'America/New_York', 'timeZoneShortName': 'EST', 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62', 'messageBoardId': 'finmb_21835', 'gmtOffSetMilliseconds': -18000000, 'currentPrice': 418.95, 'targetHighPrice': 650.0, 'targetLowPrice': 420.0, 'targetMeanPrice': 508.4636, 'targetMedianPrice': 500.0, 'recommendationMean': 1.42105, 'recommendationKey': 'strong_buy', 'numberOfAnalystOpinions': 50, 'totalCash': 78429003776, 'totalCashPerShare': 10.549, 'ebitda': 136551997440, 'totalDebt': 96838000640, 'quickRatio': 1.163, 'currentRatio': 1.301, 'totalRevenue': 254189993984, 'debtToEquity': 33.657, 'revenuePerShare': 34.202, 'returnOnAssets': 0.14592, 'returnOnEquity': 0.35604, 'freeCashflow': 61280874496, 'operatingCashflow': 122144997376, 'earningsGrowth': 0.104, 'revenueGrowth': 0.16, 'grossMargins': 0.69348997, 'ebitdaMargins': 0.53720003, 'operatingMargins': 0.46583998, 'financialCurrency': 'USD', 'trailingPegRatio': 2.1992}

# https://algotrading101.com/learn/yfinance-guide/

In [32]:
import yfinance as yf

apple= yf.Ticker("aapl")

Date
1987-06-16 00:00:00-04:00    2.0
2000-06-21 00:00:00-04:00    2.0
2005-02-28 00:00:00-05:00    2.0
2014-06-09 00:00:00-04:00    7.0
2020-08-31 00:00:00-04:00    4.0
Name: Stock Splits, dtype: float64

In [51]:
# show actions (dividends, splits)
apple.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [52]:
# show dividends
apple.dividends

Series([], Name: Dividends, dtype: float64)

In [53]:
# show splits
apple.splits

Series([], Name: Stock Splits, dtype: float64)

In [33]:
apple

yfinance.Ticker object <AAPL>

In [34]:
apple_historical = apple.history(start="2024-12-01",end="2025-01-01",interval="1d")
apple_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-12-02 00:00:00-05:00,237.270004,240.789993,237.160004,239.589996,48137100,0.0,0.0
2024-12-03 00:00:00-05:00,239.809998,242.759995,238.899994,242.649994,38861000,0.0,0.0
2024-12-04 00:00:00-05:00,242.869995,244.110001,241.250000,243.009995,44383900,0.0,0.0
2024-12-05 00:00:00-05:00,243.990005,244.539993,242.130005,243.039993,40033900,0.0,0.0
2024-12-06 00:00:00-05:00,242.910004,244.630005,242.080002,242.839996,36870600,0.0,0.0
2024-12-09 00:00:00-05:00,241.830002,247.240005,241.750000,246.750000,44649200,0.0,0.0
2024-12-10 00:00:00-05:00,246.889999,248.210007,245.339996,247.770004,36914800,0.0,0.0
2024-12-11 00:00:00-05:00,247.960007,250.800003,246.259995,246.490005,45205800,0.0,0.0
2024-12-12 00:00:00-05:00,246.889999,248.740005,245.679993,247.960007,32777500,0.0,0.0
2024-12-13 00:00:00-05:00,247.820007,249.289993,246.240005,248.130005,33155300,0.0,0.0
2024-12-16 00:00:00-05:00,247.990005,251.380005,247.649994,251.039993,51694800,0.0,0.0
2024-12-17 00:00:00-05:00,250.080002,253.830002,249.779999,253.479996,51356400,0.0,0.0
2024-12-18 00:00:00-05:00,252.160004,254.279999,247.740005,248.050003,56774100,0.0,0.0
2024-12-19 00:00:00-05:00,247.500000,252.000000,247.089996,249.789993,60882300,0.0,0.0
2024-12-20 00:00:00-05:00,248.039993,255.000000,245.690002,254.490005,147495300,0.0,0.0
2024-12-23 00:00:00-05:00,254.770004,255.649994,253.449997,255.270004,40858800,0.0,0.0
2024-12-24 00:00:00-05:00,255.490005,258.209991,255.289993,258.200012,23234700,0.0,0.0
2024-12-26 00:00:00-05:00,258.190002,260.100006,257.630005,259.019989,27237100,0.0,0.0
2024-12-27 00:00:00-05:00,257.829987,258.700012,253.059998,255.589996,42355300,0.0,0.0
2024-12-30 00:00:00-05:00,252.229996,253.500000,250.750000,252.199997,35557500,0.0,0.0
2024-12-31 00:00:00-05:00,252.440002,253.279999,249.429993,250.419998,39480700,0.0,0.0

In [35]:
aapl = yf.Ticker("aapl")
aapl.info['forwardPE']

28.520203

In [36]:
aapl.info['dividendRate']

1.0

In [37]:
tickers_list = ["aapl", "goog", "amzn", "BAC", "BA"] # example list
tickers_data= {} # empty dictionary

In [38]:
for ticker in tickers_list:
    ticker_object = yf.Ticker(ticker)

    #convert info() output from dictionary to dataframe
    temp = pd.DataFrame.from_dict(ticker_object.info, orient="index")
    temp.reset_index(inplace=True)
    temp.columns = ["Attribute", "Recent"]
    
    # add (ticker, dataframe) to main dictionary
    tickers_data[ticker] = temp

tickers_data

{'aapl':              Attribute              Recent
 0             address1  One Apple Park Way
 1                 city           Cupertino
 2                state                  CA
 3                  zip               95014
 4              country       United States
 ..                 ...                 ...
 126       grossMargins             0.46206
 127      ebitdaMargins             0.34437
 128   operatingMargins             0.31171
 129  financialCurrency                 USD
 130   trailingPegRatio              2.1584

 [131 rows x 2 columns],
 'goog':              Attribute                     Recent
 0             address1  1600 Amphitheatre Parkway
 1                 city              Mountain View
 2                state                         CA
 3                  zip                      94043
 4              country              United States
 ..                 ...                        ...
 117       grossMargins                    0.58127
 118      ebitdaMargins                     0.3633
 119   operatingMargins                    0.32312
 120  financialCurrency                        USD
 121   trailingPegRatio                     1.2524

 [122 rows x 2 columns],
 'amzn':              Attribute                  Recent
 0             address1  410 Terry Avenue North
 1                 city                 Seattle
 2                state                      WA
 3                  zip              98109-5210
 4              country           United States
 ..                 ...                     ...
 117       grossMargins                 0.48406
 118      ebitdaMargins                 0.17994
 119   operatingMargins                 0.10959
 120  financialCurrency                     USD
 121   trailingPegRatio                   1.795

 [122 rows x 2 columns],
 'BAC':              Attribute                            Recent
 0             address1  Bank of America Corporate Center
 1             address2            100 North Tryon Street
 2                 city                         Charlotte
 3                state                                NC
 4                  zip                             28255
 ..                 ...                               ...
 119     earningsGrowth                              -0.1
 120      revenueGrowth                            -0.005
 121   operatingMargins                           0.30769
 122  financialCurrency                               USD
 123   trailingPegRatio                            1.9987

 [124 rows x 2 columns],
 'BA':              Attribute                 Recent
 0             address1  929 Long Bridge Drive
 1                 city              Arlington
 2                state                     VA
 3                  zip             22202-4208
 4              country          United States
 ..                 ...                    ...
 115       grossMargins                0.03618
 116      ebitdaMargins               -0.05445
 117   operatingMargins               -0.31418
 118  financialCurrency                    USD
 119   trailingPegRatio                   None

 [120 rows x 2 columns]}

In [39]:
combined_data = pd.concat(tickers_data)
combined_data = combined_data.reset_index()
combined_data

    level_0  level_1          Attribute              Recent
0      aapl        0           address1  One Apple Park Way
1      aapl        1               city           Cupertino
2      aapl        2              state                  CA
3      aapl        3                zip               95014
4      aapl        4            country       United States
..      ...      ...                ...                 ...
614      BA      115       grossMargins             0.03618
615      BA      116      ebitdaMargins            -0.05445
616      BA      117   operatingMargins            -0.31418
617      BA      118  financialCurrency                 USD
618      BA      119   trailingPegRatio                None

[619 rows x 4 columns]

In [40]:
del combined_data["level_1"] # clean up unnecessary column
combined_data.columns = ["Ticker", "Attribute", "Recent"] # update column names

combined_data

    Ticker          Attribute              Recent
0     aapl           address1  One Apple Park Way
1     aapl               city           Cupertino
2     aapl              state                  CA
3     aapl                zip               95014
4     aapl            country       United States
..     ...                ...                 ...
614     BA       grossMargins             0.03618
615     BA      ebitdaMargins            -0.05445
616     BA   operatingMargins            -0.31418
617     BA  financialCurrency                 USD
618     BA   trailingPegRatio                None

[619 rows x 3 columns]

In [41]:
employees = combined_data[combined_data["Attribute"]=="fullTimeEmployees"].reset_index()
del employees["index"] # clean up unnecessary column

employees

  Ticker          Attribute   Recent
0   aapl  fullTimeEmployees   164000
1   goog  fullTimeEmployees   181269
2   amzn  fullTimeEmployees  1551000
3    BAC  fullTimeEmployees   213000
4     BA  fullTimeEmployees   171000

In [42]:
aapl.info["marketCap"]

3580177154048

In [43]:
aapl.info["volume"]

58293813

In [44]:
aapl.info["averageVolume"]

44790970

In [45]:
aapl.info["averageVolume10days"]

38738060

In [46]:
aapl_historical = aapl.history(period="max", interval="1wk")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-08 00:00:00-05:00,0.098834,0.099264,0.098834,0.098834,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.094108,0.097545,0.086802,0.097116,490134400,0.0,0.0
1980-12-22 00:00:00-05:00,0.101842,0.122469,0.101842,0.122039,187891200,0.0,0.0
1980-12-29 00:00:00-05:00,0.123758,0.124188,0.117313,0.118602,219452800,0.0,0.0
1981-01-05 00:00:00-05:00,0.116453,0.116453,0.103991,0.109577,197904000,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-09 00:00:00-05:00,241.830002,250.800003,241.750000,248.130005,192702600,0.0,0.0
2024-12-16 00:00:00-05:00,247.990005,255.000000,245.690002,254.490005,368202900,0.0,0.0
2024-12-23 00:00:00-05:00,254.770004,260.100006,253.059998,255.589996,133685900,0.0,0.0
2024-12-30 00:00:00-05:00,252.229996,253.500000,241.820007,243.360001,171023000,0.0,0.0
2025-01-06 00:00:00-05:00,244.309998,247.330002,233.000000,236.850006,243503713,0.0,0.0

In [47]:
aapl_historical = aapl.history(period="max", interval="1wk")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-08 00:00:00-05:00,0.098834,0.099264,0.098834,0.098834,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.094108,0.097545,0.086802,0.097116,490134400,0.0,0.0
1980-12-22 00:00:00-05:00,0.101842,0.122469,0.101842,0.122039,187891200,0.0,0.0
1980-12-29 00:00:00-05:00,0.123758,0.124188,0.117313,0.118602,219452800,0.0,0.0
1981-01-05 00:00:00-05:00,0.116453,0.116453,0.103991,0.109577,197904000,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-09 00:00:00-05:00,241.830002,250.800003,241.750000,248.130005,192702600,0.0,0.0
2024-12-16 00:00:00-05:00,247.990005,255.000000,245.690002,254.490005,368202900,0.0,0.0
2024-12-23 00:00:00-05:00,254.770004,260.100006,253.059998,255.589996,133685900,0.0,0.0
2024-12-30 00:00:00-05:00,252.229996,253.500000,241.820007,243.360001,171023000,0.0,0.0
2025-01-06 00:00:00-05:00,244.309998,247.330002,233.000000,236.850006,243503713,0.0,0.0

In [48]:
aapl.info["fiftyTwoWeekHigh"]

260.1

In [49]:
# options data
aapl.options

('2025-01-17',
 '2025-01-24',
 '2025-01-31',
 '2025-02-07',
 '2025-02-14',
 '2025-02-21',
 '2025-03-21',
 '2025-04-17',
 '2025-06-20',
 '2025-07-18',
 '2025-08-15',
 '2025-09-19',
 '2025-12-19',
 '2026-01-16',
 '2026-06-18',
 '2026-12-18',
 '2027-01-15')

In [54]:
# get option chain calls data for specific expiration date
opt = aapl.option_chain(date='2025-01-17')
opt.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL250117C00005000,2025-01-10 16:58:25+00:00,5.0,229.90,231.40,232.40,-7.050003,-2.975313,16,1546,10.500003,True,REGULAR,USD
1,AAPL250117C00010000,2024-12-30 15:27:20+00:00,10.0,240.87,225.90,227.85,0.000000,0.000000,1,29,7.875000,True,REGULAR,USD
2,AAPL250117C00015000,2025-01-10 17:58:30+00:00,15.0,220.87,220.85,222.95,-16.270004,-6.860928,2,167,7.281251,True,REGULAR,USD
3,AAPL250117C00020000,2025-01-10 19:16:12+00:00,20.0,216.57,215.90,217.80,9.170013,4.421414,25,69,0.500005,True,REGULAR,USD
4,AAPL250117C00025000,2025-01-08 14:31:57+00:00,25.0,216.26,210.85,212.95,0.000000,0.000000,1,77,5.875003,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,AAPL250117C00360000,2024-12-26 15:15:03+00:00,360.0,0.01,0.00,0.01,0.000000,0.000000,1,403,0.906251,False,REGULAR,USD
84,AAPL250117C00365000,2024-11-29 17:58:51+00:00,365.0,0.01,0.00,0.00,0.000000,0.000000,95,1219,0.500005,False,REGULAR,USD
85,AAPL250117C00370000,2024-11-11 18:24:52+00:00,370.0,0.01,0.00,0.01,0.000000,0.000000,3,673,0.968750,False,REGULAR,USD
86,AAPL250117C00375000,2024-12-17 14:51:46+00:00,375.0,0.01,0.00,0.01,0.000000,0.000000,9,1304,1.000005,False,REGULAR,USD
87,AAPL250117C00380000,2025-01-10 16:41:00+00:00,380.0,0.01,0.00,0.01,0.000000,0.000000,10,2936,1.031255,False,REGULAR,USD

In [55]:
opt.puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL250117P00005000,2025-01-10 19:40:59+00:00,5.0,0.01,0.00,0.01,0.0,0.0,11.0,5132,8.500005,False,REGULAR,USD
1,AAPL250117P00010000,2025-01-10 17:13:46+00:00,10.0,0.01,0.00,0.01,0.0,0.0,1.0,285,6.875001,False,REGULAR,USD
2,AAPL250117P00015000,2025-01-10 19:21:42+00:00,15.0,0.01,0.00,0.01,0.0,0.0,1.0,175,6.000002,False,REGULAR,USD
3,AAPL250117P00020000,2025-01-08 19:00:14+00:00,20.0,0.01,0.00,0.01,0.0,0.0,22.0,2007,5.250003,False,REGULAR,USD
4,AAPL250117P00025000,2024-11-21 19:18:28+00:00,25.0,0.01,0.00,0.01,0.0,0.0,17.0,5141,4.875004,False,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,AAPL250117P00355000,2024-12-27 17:07:09+00:00,355.0,101.70,117.20,119.10,0.0,0.0,1.0,0,0.500005,True,REGULAR,USD
82,AAPL250117P00365000,2024-12-27 16:41:01+00:00,365.0,110.50,127.20,129.10,0.0,0.0,1.0,0,0.500005,True,REGULAR,USD
83,AAPL250117P00370000,2024-12-31 14:57:30+00:00,370.0,117.77,132.30,134.05,0.0,0.0,3.0,0,1.117192,True,REGULAR,USD
84,AAPL250117P00375000,2024-12-27 20:54:40+00:00,375.0,119.75,137.75,139.10,0.0,0.0,2.0,0,1.488284,True,REGULAR,USD
85,AAPL250117P00380000,2024-12-30 15:27:20+00:00,380.0,129.18,142.80,144.05,0.0,0.0,1.0,0,1.525393,True,REGULAR,USD

In [56]:
obj = yf.Ticker('goog')

In [57]:
obj.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-12-11 00:00:00-05:00,186.699997,196.889999,186.259995,196.710007,41664500,0.0,0.0
2024-12-12 00:00:00-05:00,196.300003,196.705002,193.279999,193.630005,25197800,0.0,0.0
2024-12-13 00:00:00-05:00,192.710007,194.339996,191.259995,191.380005,18883200,0.0,0.0
2024-12-16 00:00:00-05:00,194.365005,200.639999,194.110001,198.160004,32248600,0.0,0.0
2024-12-17 00:00:00-05:00,198.529999,202.880005,196.690002,197.119995,24129500,0.0,0.0
2024-12-18 00:00:00-05:00,196.830002,198.690002,189.279999,190.149994,27638400,0.0,0.0
2024-12-19 00:00:00-05:00,193.279999,194.600006,189.520004,189.699997,26981200,0.0,0.0
2024-12-20 00:00:00-05:00,187.009995,194.134995,186.369995,192.960007,45319700,0.0,0.0
2024-12-23 00:00:00-05:00,194.029999,196.490005,191.630005,195.990005,15235900,0.0,0.0
2024-12-24 00:00:00-05:00,196.169998,197.669998,195.197998,197.570007,6809800,0.0,0.0
2024-12-26 00:00:00-05:00,196.740005,198.160004,195.869995,197.100006,7907900,0.0,0.0
2024-12-27 00:00:00-05:00,196.470001,196.800003,191.972000,194.039993,14693000,0.0,0.0
2024-12-30 00:00:00-05:00,190.865005,193.779999,190.360001,192.690002,12209500,0.0,0.0
2024-12-31 00:00:00-05:00,192.445007,193.250000,189.580002,190.440002,14355200,0.0,0.0
2025-01-02 00:00:00-05:00,191.485001,193.199997,188.710007,190.630005,17545200,0.0,0.0
2025-01-03 00:00:00-05:00,192.725006,194.500000,191.350006,193.130005,12875000,0.0,0.0
2025-01-06 00:00:00-05:00,195.149994,199.559998,195.059998,197.960007,19483300,0.0,0.0
2025-01-07 00:00:00-05:00,198.270004,202.139999,195.940002,196.710007,16966800,0.0,0.0
2025-01-08 00:00:00-05:00,193.949997,197.639999,193.750000,195.389999,14335300,0.0,0.0
2025-01-10 00:00:00-05:00,195.419998,197.619995,191.600006,193.169998,20739800,0.0,0.0

### tickers

In [58]:
# danahar an industrial company

In [59]:
dhr = yf.Ticker('DHR')

In [60]:
info = dhr.info

In [61]:
info.keys()

dict_keys(['address1', 'address2', 'city', 'state', 'zip', 'country', 'phone', 'fax', 'website', 'industry', 'industryKey', 'industryDisp', 'sector', 'sectorKey', 'sectorDisp', 'longBusinessSummary', 'fullTimeEmployees', 'companyOfficers', 'auditRisk', 'boardRisk', 'compensationRisk', 'shareHolderRightsRisk', 'overallRisk', 'governanceEpochDate', 'compensationAsOfEpochDate', 'irWebsite', 'maxAge', 'priceHint', 'previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen', 'regularMarketDayLow', 'regularMarketDayHigh', 'dividendRate', 'dividendYield', 'exDividendDate', 'payoutRatio', 'fiveYearAvgDividendYield', 'beta', 'trailingPE', 'forwardPE', 'volume', 'regularMarketVolume', 'averageVolume', 'averageVolume10days', 'averageDailyVolume10Day', 'bid', 'ask', 'bidSize', 'askSize', 'marketCap', 'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'priceToSalesTrailing12Months', 'fiftyDayAverage', 'twoHundredDayAverage', 'trailingAnnualDividendRate', 'trailingAnnualDividendYield', 'currency', 'enterpriseValue', 'profitMargins', 'floatShares', 'sharesOutstanding', 'sharesShort', 'sharesShortPriorMonth', 'sharesShortPreviousMonthDate', 'dateShortInterest', 'sharesPercentSharesOut', 'heldPercentInsiders', 'heldPercentInstitutions', 'shortRatio', 'shortPercentOfFloat', 'impliedSharesOutstanding', 'bookValue', 'priceToBook', 'lastFiscalYearEnd', 'nextFiscalYearEnd', 'mostRecentQuarter', 'earningsQuarterlyGrowth', 'netIncomeToCommon', 'trailingEps', 'forwardEps', 'lastSplitFactor', 'lastSplitDate', 'enterpriseToRevenue', 'enterpriseToEbitda', '52WeekChange', 'SandP52WeekChange', 'lastDividendValue', 'lastDividendDate', 'exchange', 'quoteType', 'symbol', 'underlyingSymbol', 'shortName', 'longName', 'firstTradeDateEpochUtc', 'timeZoneFullName', 'timeZoneShortName', 'uuid', 'messageBoardId', 'gmtOffSetMilliseconds', 'currentPrice', 'targetHighPrice', 'targetLowPrice', 'targetMeanPrice', 'targetMedianPrice', 'recommendationMean', 'recommendationKey', 'numberOfAnalystOpinions', 'totalCash', 'totalCashPerShare', 'ebitda', 'totalDebt', 'quickRatio', 'currentRatio', 'totalRevenue', 'debtToEquity', 'revenuePerShare', 'returnOnAssets', 'returnOnEquity', 'freeCashflow', 'operatingCashflow', 'earningsGrowth', 'revenueGrowth', 'grossMargins', 'ebitdaMargins', 'operatingMargins', 'financialCurrency', 'trailingPegRatio'])

In [62]:
dhr.earnings

C:\Users\marke\projects\nlp\.venv\lib\site-packages\yfinance\scrapers\fundamentals.py:33: DeprecationWarning: 'Ticker.earnings' is deprecated as not available via API. Look for "Net Income" in Ticker.income_stmt.
  warnings.warn("'Ticker.earnings' is deprecated as not available via API. Look for \"Net Income\" in Ticker.income_stmt.", DeprecationWarning)

In [63]:
dhr.get_financials()

,2023-12-31,2022-12-31,2021-12-31,2020-12-31
TaxEffectOfUnusualItems,-42217000.0,-30894000.0,48900000.0,84483000.0
TaxRateForCalcs,0.163,0.114,0.163,0.189
NormalizedEBITDA,7755000000.0,9753000000.0,8504000000.0,6098000000.0
TotalUnusualItems,-259000000.0,-271000000.0,300000000.0,447000000.0
TotalUnusualItemsExcludingGoodwill,-259000000.0,-271000000.0,300000000.0,447000000.0
NetIncomeFromContinuingOperationNetMinorityInterest,4221000000.0,6328000000.0,5447000000.0,3646000000.0
ReconciledDepreciation,2166000000.0,2132000000.0,2062000000.0,1775000000.0
ReconciledCostOfRevenue,9856000000.0,10455000000.0,9563000000.0,9809000000.0
EBITDA,7496000000.0,9482000000.0,8804000000.0,6545000000.0
EBIT,5330000000.0,7350000000.0,6742000000.0,4770000000.0
NetInterestIncome,17000000.0,-163000000.0,-220000000.0,-204000000.0
InterestExpense,286000000.0,204000000.0,231000000.0,275000000.0
InterestIncome,303000000.0,41000000.0,11000000.0,71000000.0
NormalizedIncome,4437783000.0,6568106000.0,5195900000.0,3283483000.0
NetIncomeFromContinuingAndDiscontinuedOperation,4764000000.0,7209000000.0,6433000000.0,3646000000.0
TotalExpenses,18611000000.0,19107000000.0,18415000000.0,18053000000.0
TotalOperatingIncomeAsReported,5202000000.0,7536000000.0,6377000000.0,4231000000.0
DilutedAverageShares,743100000.0,737100000.0,736800000.0,718700000.0
BasicAverageShares,736500000.0,725100000.0,714600000.0,706200000.0
DilutedEPS,6.38,9.66,8.61,4.89
BasicEPS,6.44,9.8,8.77,4.97
DilutedNIAvailtoComStockholders,4743000000.0,7103000000.0,6269000000.0,3510000000.0
AverageDilutionEarnings,NaN,NaN,NaN,1000000.0
NetIncomeCommonStockholders,4743000000.0,7103000000.0,6269000000.0,3510000000.0
PreferredStockDividends,21000000.0,106000000.0,164000000.0,136000000.0
NetIncome,4764000000.0,7209000000.0,6433000000.0,3646000000.0
NetIncomeIncludingNoncontrollingInterests,4764000000.0,7209000000.0,6433000000.0,3646000000.0
NetIncomeDiscontinuousOperations,543000000.0,881000000.0,986000000.0,0.0
NetIncomeContinuousOperations,4221000000.0,6328000000.0,5447000000.0,3646000000.0
TaxProvision,823000000.0,818000000.0,1064000000.0,849000000.0
PretaxIncome,5044000000.0,7146000000.0,6511000000.0,4495000000.0
OtherIncomeExpense,-252000000.0,-227000000.0,344000000.0,468000000.0
OtherNonOperatingIncomeExpenses,7000000.0,44000000.0,44000000.0,21000000.0
SpecialIncomeCharges,-108000000.0,-91000000.0,-101000000.0,429000000.0
GainOnSaleOfBusiness,0.0,0.0,5000000.0,455000000.0
OtherSpecialCharges,NaN,NaN,96000000.0,26000000.0
WriteOff,108000000.0,91000000.0,10000000.0,NaN
GainOnSaleOfSecurity,-151000000.0,-180000000.0,401000000.0,18000000.0
NetNonOperatingInterestIncomeExpense,17000000.0,-163000000.0,-220000000.0,-204000000.0
InterestExpenseNonOperating,286000000.0,204000000.0,231000000.0,275000000.0
InterestIncomeNonOperating,303000000.0,41000000.0,11000000.0,71000000.0
OperatingIncome,5279000000.0,7536000000.0,6387000000.0,4231000000.0
OperatingExpense,8755000000.0,8652000000.0,8852000000.0,8244000000.0
OtherOperatingExpenses,NaN,NaN,547000000.0,NaN
ResearchAndDevelopment,1503000000.0,1528000000.0,1498000000.0,1348000000.0
SellingGeneralAndAdministration,7252000000.0,7124000000.0,6807000000.0,6896000000.0
GrossProfit,14034000000.0,16188000000.0,15239000000.0,12475000000.0
CostOfRevenue,9856000000.0,10455000000.0,9563000000.0,9809000000.0
TotalRevenue,23890000000.0,26643000000.0,24802000000.0,22284000000.0
OperatingRevenue,23890000000.0,26643000000.0,24802000000.0,22284000000.0

In [64]:
aapl = yf.Ticker('aapl')
options = aapl.option_chain()

# scrape the s&p500 list

In [65]:
import requests
from bs4 import BeautifulSoup

def scrape_sp500_list():
    url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    table = soup.find('table', {'clss': 'wikitable sortable'})
    rows = table.findAll('tr')

    symbols = []
    for row in rows[1:]:
        symbol = row.findAll('td')[0].text.strip()
        symbols.append(symbol)

    return symbols

sp500_list = sorted(scrape_sp500_list())
print(sp500_list[:5])

IndexError: list index out of range

In [ ]:
response

In [ ]:
soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
table = soup.find('table', {'class': 'wikitable sortable'})

In [ ]:
table